@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #311C1C;
    --orange: #fa9600;
    --orange-thumb: rgba(250, 150, 0, .8);
    --orange-track: rgba(250, 150, 0, .2);
    --neon-green: #C9F479;
    --neon-green-thumb: rgba(201, 244, 121, .8);
    --neon-green-track: rgba(201, 244, 121, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--orange)
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--neon-green-thumb);
}

body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .2);
}